<configuration>
    <packageSources>
        <!-- package source is additive -->
        <add key="GuardianConnect Local" value="..\GuardianConnectSDK_NugetPackages" />
<!--
        <add key="Github" value="https://nuget.pkg.github.com/guardianfirewall/index.json" />
-->
    </packageSources>
</configuration>
