/GuardianConnectSDK/GuardianConnect/bin/
/GuardianConnectSDK/.vs/GuardianConnectSDK
/GuardianConnectSDK/GuardianConnect/obj
/GuardianConnectSDK/GuardianWinService/bin/x64/Release/net8.0-windows
/GuardianConnectSDK/GuardianWinService/obj/x64
/GuardianConnectSDK/GuardianWinService/obj
/GuardianConnectSDK/NativeRoutines/NativeRoutines/x64/Release
/GuardianConnectSDK/NativeRoutines/obj
/GuardianConnectSDK/NativeRoutines/x64/Debug
/GuardianConnectSDK/Shared/bin/x64
/GuardianConnectSDK/Shared/obj
/GuardianConnectSDK/x64/Debug
/GuardianConnectSDK/NativeRoutines/x64/Release
/GuardianConnectSDK/GuardianWinService/bin/x64/Debug/net9.0-windows10.0.26100.0
/.idea/vcs.xml
/GuardianConnectSDK/NativeRoutines/NativeRoutines/x64/Release
/GuardianConnectSDK/NativeRoutines/obj
/GuardianConnectSDK/Shared/bin/x64/Release
/GuardianConnectSDK/Shared/obj
/GuardianConnectSDK/GuardianWinService/bin/x64/Release/net8.0-windows/win-x64
/GuardianConnectSDK/GuardianWinService/obj
/GuardianConnectSDK/GuardianConnect/obj
/GuardianConnectSDK/NativeRoutines/x64/Release
/.vs
/GuardianConnectSDK/ARM64
/GuardianConnectSDK/BuildOutput/GuardianConnectSDK/runtimes/win10-ARM64/lib
/GuardianConnectSDK/BuildOutput/GuardianConnectSDK/runtimes/win10-x64/lib
/GuardianConnectSDK/BuildOutput/runtimes/win10-ARM64/lib/net9.0-windows
/GuardianConnectSDK/BuildOutput/runtimes/win10-x64/lib
/GuardianConnectSDK/GuardianWinService/bin/x64/Release/net9.0-windows10.0.26100.0/win-x64
/GuardianConnectSDK/NativeRoutines/ARM64
/GuardianConnectSDK/NativeRoutines/ARM64EC
/GuardianConnectSDK/NativeRoutines/Debug
/GuardianConnectSDK/Shared/bin/ARM64
/GuardianConnectSDK/x64/Release
/GuardianConnectSDK/GHCPGCSDK.nuspec
/GuardianConnectSDK/GuardianConnect.16.0.0.11.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.12.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.13.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.14.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.15.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.16.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.17.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.18.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.20.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.21.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.23.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.24.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.25.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.26.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.27.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.28.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.29.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.30.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.7.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.8.nupkg
/GuardianConnectSDK/GuardianConnect.16.0.0.9.nupkg
/GuardianConnectSDK/BuildOutput
/GuardianConnectSDK/GuardianConnect/BuildOutput/GuardianFirewallService/x64/Release
/GuardianConnectSDK/NativeRoutines/NativeRoutines/x64/Debug
/GuardianConnectSDK/GuardianFirewallService/obj
/GuardianConnectSDK/NativeRoutines/NativeRoutines/arm64/Release/NativeRoutines.tlog
/GuardianConnectSDK/NativeRoutines/NativeRoutines/arm64/Release
*.swp
